<ion-view view-title="{{'Assign Voucher Book'|translate}}">
    <ion-content>
        <div class="item item-divider" translate>Distribution</div>
        <ion-radio ng-repeat="c in distributions" ng-value="c.id" ng-model="selectedDistributionId" ng-click="updateDistribution(c)">{{c.name}}</ion-radio>
        <div class="row">
            <div class="col col-33">
                <button class="button button-assertive button-block" ng-click="cancel()" translate>Cancel</button>
            </div>
            <div class="col col-67">
                <button class="button button-positive button-block" ng-click="scan()" translate>Scan first page</button>
            </div>
        </div>
    </ion-content>
</ion-view>
