<ion-modal-view ng-controller="LoginController">
    <ion-header-bar class="bar bar-dark">
        <h1 class="title">Login</h1>
        <div class="buttons">
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="loginData.username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="loginData.password">
            </label>
            <label class="item item-assertive" ng-if="wrongPassword">
                Invalid username or password.
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit" ng-click="loginVendor()" on-hold="loginAdmin()">Log in</button>
            </label>
        </div>
    </ion-content>
</ion-modal-view>
