<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px" edge-drag-threshold="false"
  drag-content="false">
    <ion-nav-bar class="bar bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu">
    <ion-content>
      <ion-list class="padding-top">
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.pos">
          <i class="icon ion-calculator"></i>
          <h2 class="menu-text" translate>POS Mode</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.beneficiary" ng-if="authorizationData.tokenType == 2">
          <i class="icon ion-person"></i>
          <h2 class="menu-text" translate>Beneficiary</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.receipts" ng-if="false">
          <i class="icon ion-document-text"></i>
          <h2 class="menu-text" translate>Receipts</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.invoices" ng-if="false">
          <i class="icon ion-document"></i>
          <h2 class="menu-text" translate>Invoices</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.sync">
          <i class="icon ion-android-sync"></i>
          <h2 class="menu-text" translate>Sync Data</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text" translate>Settings</h2>
        </ion-item>

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
