<ion-view class="pos-screen pos" ng-controller="POSController" view-title="POS Mode">
    <ion-content scroll="false">
        <div style="height: 10%; line-height: 50px; padding-right: 1em; font-size:200%; background-color: #666;">
            <span style="display:block; width:80% float: left; text-align: right; color: white;">{{value}}</span>
        </div>
        <div style="padding-top: 5%; height: 100%; background-color: black;">
            <div class="row">
                <div class="col">
                    <button class="button button-assertive button-stretch pos-button" ng-click="clear()">C</button>
                </div>
                <div class="col">
                    <button class="button button-positive button-stretch icon ion-qr-scanner" ng-click="processQR()"></button>
                </div>
                <div class="col">
                    <button class="button button-positive button-stretch icon ion-card" ng-click="process()"></button>
                </div>
            </div>
            <div class="row">
                <div class="col col-30 col-offset-5 ">
                    <button class="button button-light button-stretch" ng-click="addDigit(1)">1</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(2)">2</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(3)">3</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-30 col-offset-5 ">
                    <button class="button button-light button-stretch" ng-click="addDigit(4)">4</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(5)">5</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(6)">6</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-30 col-offset-5 ">
                    <button class="button button-light button-stretch" ng-click="addDigit(7)">7</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(8)">8</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(9)">9</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <button class="button icon ion-arrow-left-a button-light button-stretch" ng-click="delete()"></button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(0)">0</button>
                </div>
                <div class="col col-30">
                    <button class="button button-light button-stretch" ng-click="addDigit(decimalChar)">{{decimalChar}}</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
