<ion-view view-title="{{'Settings'|translate}}" class="settings-view" ng-controller="SettingsController">
    <ion-content>
        <ul class="list">
            <div class="item item-divider" ng-if="authorizationData.tokenType == 2" translate>Country</div>
            <ion-radio ng-repeat="c in availableCountries" ng-value="c.Id" ng-model="country.Id" ng-click="updateCountry(c)" ng-if="authorizationData.tokenType == 2">{{c.Name}}</ion-radio>
            <div class="item item-divider" ng-if="authorizationData.tokenType == 2"></div>

            <a class="item " ng-click="logout()" translate>Logout </a>
        </ul>
    </ion-content>
</ion-view>
