<ion-view view-title="Talon" ng-controller="SyncController">
    <ion-content class="">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="setupVendor()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in items"></ion-item>
        </ion-list>
        <div class="row padding">
            <div class="col">Last Synced On:</div>
            <div class="col">{{ lastSynced || 'Unknown' }}</div>
        </div>
        <button class="button button-block button-positive" ng-click="setupVendor()">
            Download Data From Server
        </button>
    </ion-content>
</ion-view>
