<ion-view view-title="{{'View Beneficiary'|translate}}" ng-controller="ViewBeneficiaryController">
    <ion-content class="padding">
        <div class="row">
            <strong translate>Name:</strong> &nbsp; {{ beneficiary.Name }}
        </div>
        <div class="row">
            <strong translate>Mobile Number:</strong> &nbsp; {{ beneficiary.MobileNumber }}
        </div>
        <div class="row">
            <strong translate>Location:</strong> &nbsp; {{ beneficiary.Location.Name }}
        </div>
        <button class="button button-block button-positive" ng-click="setPin()" translate>
            Set Pin
        </button>
        <button class="button button-block button-positive" ng-click="provisionCard()" translate>
            Provision Card
        </button>
        <button class="button button-block button-positive" ng-click="assignVoucherBook()" translate>
            Assign Voucher Book
        </button>
    </ion-content>
</ion-view>
